/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";



/* image and text side-by-side */
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  padding: 5px; /* space between two tables*/
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

figure {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

/* end of side-by-side*/
