/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

/* this css is only for HTML, not for pdf*/

body{ /* Normal  */
      font-size: 22px;
      font-family: Calibri;
  }
  
td {  /* Table  */
  font-size: 8px;
}

h1.title {
  font-size: 32px;
  color: DarkRed;
  font-weight: bold;
  font-family: Garamond;
}

h1 { /* Header 1 */
  font-size: 30px;
  color: DarkRed;
  font-weight: bold;
  font-family: Garamond;
}

h2 { /* Header 2 */
  font-size: 26px;
  color: DarkRed;
  font-weight: bold;
  font-family: Garamond;
}

h3 { /* Header 3 */
  font-size: 24px;
  font-family: Garamond, /*"Times New Roman", Times, serif;*/
  color: DarkBlue;
}

code.r{ /* Code block */
    font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}


/* Begin of the setting: image and text side-by-side */
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  padding: 5px; /* space between two tables*/
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

figure {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

/* end of the setting for two tables side-by-side */
