@import "variables";

.markdown {
  line-height: 1.6;
  

  // remove padding at the beginning of page
  > :first-child {
    margin-top: 0;
  }

  

}

.markdown-inner {
  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}




